# dash is required to call `build:py`
dash[dev]>=1.3.1
alabaster
alembic
appnope
arrow
attrs
Automat
Babel
backports-abc
backports.csv
backports.shutil-get-terminal-size
binaryornot
bleach
certifi
cffi
chardet
Click
clustergrammer
conda
configparser
constantly
cookiecutter
cryptography
cssselect
dash
dash-bootstrap-components
dash-core-components
dash-cytoscape
dash-dangerously-set-inner-html
dash-html-components
dash-renderer
dash-table
decorator
docutils
entrypoints
enum34
faas
Flask
Flask-Compress
Flask-Cors
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
future
futures
gunicorn
html5lib
idna
imagesize
incremental
ipaddress
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
Jinja2
jinja2-time
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
lxml
Mako
MarkupSafe
mistune
nbconvert
nbformat
networkx
notebook
numpy
pandas
pandas-datareader
pandocfilters
parsel
pathlib2
pbr
pexpect
pickleshare
plotly
poyo
prompt-toolkit
ptyprocess
pyasn1
pyasn1-modules
pycosat
pycparser
PyDispatcher
Pygments
pyiptmnet
pyOpenSSL
pyparsing
pypirc
pyrsistent
PySocks
python-dateutil
python-editor
pytz
pyzmq
qtconsole
queuelib
requests
requests-file
retrying
scandir
scikit-learn
scipy
Scrapy
service-identity
simplegeneric
simplejson
singledispatch
six
sklearn
snowballstemmer
Sphinx
sphinxcontrib-websupport
SQLAlchemy
stevedore
synapseclient
terminado
testpath
tornado
tqdm
traitlets
Twisted
typing
urllib3
virtualenv
virtualenv-clone
virtualenvwrapper
visdcc
w3lib
wcwidth
webencodings
Werkzeug
whichcraft
widgetsnbextension
wrapt
WTForms
xlrd
zope.interface